<% for (let post of postsArray) { %>
    
    <div class="post-container" id="post-<%= post._id %> ">

        <!-- create option menu for delete and etc options-->

        <% if ( locals.user && locals.user.id == post.user.id ) { %>

            <a href="/posts/destroy/<%= post.id %>" class="delete-post-btn"><i class="far fa-trash-alt"></i></a>
            
        <% } %> 

        <span class="post-profile-photo"></span>

        <span class="post-author">

            <%= post.user.name %>

            <div id="post-time-date">
                <!-- String(postsArray[i].createdAt).substring(0, 16) + ", " + String(postsArray[i].createdAt).substring(16, 21) -->
                Just now
            </div>

        </span>

        <div class="post-content">
            <%= post.content %>
        </div>

        <div class="likes-comment-share">
            <i class="far fa-thumbs-up"> &nbsp; Like</i>
            <i class="far fa-comment"> &nbsp; Comment</i>
            <i class="fas fa-share"> &nbsp; <span>Share</span></i>
        </div>

        <div class="display-comments">

            <% for (let comment of post.comments) { %>
                
                <div class="comment-section" id="comment-<%= comment.id %>">

                    <span class="comment-author"> <%= comment.user.name %> </span> - &nbsp;
                    <span class="comment"> <%= comment.comment %> </span>

                    <% if (comment.user.id == locals.user.id || post.user.id == locals.user.id) { %>
                        
                        <a href="/comments/destroy/<%= comment.id %>" class="delete-comment" id="comment-<%= comment.id %> "><i class="fas fa-trash"></i></a>

                    <% } %> 
                    
                </div>

            <% } %>

        </div>

        <div class="post-comments">

            <form method="POST" action="/comments/create-comment" autocomplete="off" id="new-comment-form">

                <span class="comment-profile-photo"></span>

                <input type="text" name="comment" class="comment-content" placeholder="Comment" required></input>
                <!-- we have to send id of the post to comments as well -->
                <input type="hidden" name="post" value="<%=post._id%>">
                <button type="submit" class="comment-btn"> <i class="far fa-paper-plane"></i> </button>

            </form>

        </div>

    </div>

<% } %>